.commentContainer {
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(3, 33, 43);
  margin: 5px;
  padding: 5px;
  min-width: 500px;
}

.infoContainer {
  height: 100px;
  color: rgb(166, 168, 180);
}

.profileImage {
  width: auto;
  height: 100%;
  border-radius: 5%;
  float: left;
}

.username {
  color: rgb(166, 168, 180);
  font-size: 150%;
  margin-bottom: 0px;
  margin-left: 20px;
  vertical-align: middle;
  text-decoration: none;
}

.username:hover {
  color: white;
}

.rating {
  margin-left: 200px;
}

.descriptionContainer {
  color: rgb(166, 168, 180);
  margin-top: 10px;
}
