html,
body {
  height: 100%;
}

.games-list {
  background-color: rgb(6, 39, 73);
}

.header {
  padding-top: 60px;
  color: rgb(145, 145, 145);
}

.buffer {
  margin-top: 10px;
  margin-bottom: 10px;
}
