html,
body {
  height: 100%;
  background-color: rgb(6, 39, 73);
}

.header {
  padding-top: 60px;
  color: rgb(145, 145, 145);
  display: flex;
  align-items: center;
}

.header-title {
  width: 20%;
  text-align: center;
}

.search-bar {
  width: 40%;
  margin-right: 0;
  margin-left: auto;
}

.buffer {
  margin-bottom: 10px;
}

.introduction {
  color: rgb(145, 145, 145);
  margin-top: 60px;
}
